@import '../variables';

.item-block {
  background-color: #0c0c0c;
  width: 250px;
  min-height: 345px;
  max-height: 345px;
  margin-bottom: 5px;

  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;

  &__bg {
    min-height: 220px;
    max-height: 220px;
    background-color: #ffffff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    max-height: 220px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    text-transform: uppercase;
    min-height: 42px;
    max-height: 42px;
    overflow: hidden;
    padding: 0 15px;
    color: $orange;
    font-size: 15px;
    margin: 20px 0 0;
    padding-bottom: 5px;
    &:hover {
      cursor: pointer;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    padding: 0 15px;
  }

  &__price {
    padding-left: 10px;
    color: $orange;
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
