@import '../variables';

.sort {
  position: relative;
  color: $orange;

  &__container {
    background-color: #0c0c0c;
    border-radius: 10px;
    padding: 20px;

    box-shadow: 2px 2px 2px black;
  }

  &__checkbox {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background-color: #161616;
    box-shadow: 2px 2px 2px black;
  }
}

#sandwich-group {
  margin-bottom: 0;
}

.JoyCheckbox-checkbox,
.JoySvgIcon-root {
  background-color: #0c0c0c;
  border-radius: 5px;
  border: none;
}
