$orange: #fb9118;

.root {
  width: 100%;
  display: flex;
}

.arrowUp {
  position: fixed;
  bottom: 50px;
  left: 50px;
  font-size: 64px;
  color: rgba(250, 144, 23);
  &:hover {
    cursor: pointer;
  }
}

.left {
  position: sticky;
  top: 70px;
  height: fit-content;
  background-color: #161616;
  padding: 10px;
  margin-right: 3px;
  border-radius: 10px;
  width: calc(100% / 3.9);
}

.right {
  background-color: #161616;
  border-radius: 10px;
  width: calc(100% - 100% / 3.9 - 3px);
  p {
    font-size: 26px;
    padding: 20px 20px 0;
    color: $orange;
  }
}

.links {
  color: rgba(250, 144, 23, 0.8);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.items {
  margin: 10px 0 40px;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
}
