$orange: rgb(251, 145, 24);

.menu {
  display: none;
}
.menuActive {
  position: absolute;
  border-radius: 5px;
  bottom: calc(0px - var(height));
  width: 247px;
  background-color: #0c0c0c;
  box-shadow: 2px 2px 2px black;
  // background-color: #161616;
}

.content {
  ul {
    display: flex;
    flex-direction: column;

    li {
      color: $orange;
      padding: 13px 25px;

      font-weight: bold;
      cursor: pointer;
      border-bottom: solid 1px #181818;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $orange;
        color: #0c0c0c;
      }
    }
  }
}

.lastItem {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.firstItem {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
