$orange: #fb9118;

.container {
  width: 100%;
  // padding: 0 10px;
  margin: 0 auto;
  display: flex;
  // justify-content: space-between;
}

.block {
  height: fit-content;
  border-radius: 10px;
  padding: 10px 10px 5px;
  margin-bottom: 3px;

  background-color: #161616;
}

.title {
  display: inline-flex;
  border-radius: 10px;
  margin: 10px 0;

  h2 {
    color: $orange;
  }
}

.smallBlock {
  // max-height: 393px;
  padding: 10px;
  background-color: #161616;
  border-radius: 10px;
  margin-bottom: 3px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left {
  margin-right: 3px;
  width: calc(100% / 3.9);
  // max-width: 247px;
}
.right {
  width: calc(100% - 100% / 3.9 - 3px);
}

// @media screen and (max-width: 1149px) {
//   .left {
//     width: 140px;
//   }
//   .right {
//     width: 640px;
//   }
// }
