$orange: rgb(251, 145, 24);

.swiper-button-prev::after,
.swiper-button-next::after {
  background-color: #161616;
  padding: 10px;
  border-radius: 5px;
  color: $orange;
  font-size: 36px;
}
// .swiper-button-prev {
//   transform: translate(-12px, 0);
// }
// .swiper-button-next {
//   transform: translate(12px, 0);
// }
