$orange: #fb9118;

.root {
  padding: 30px 40px 50px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.labels {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: #fb9118;
  p {
    color: #8a8a8d;
  }
}

.inputs {
  margin-top: 3px;
  background-color: transparent;
  color: #fb9118;
  padding: 15px 10px 15px 0;

  border: none;
  border-bottom: #fb9118 1px solid;
  width: 100%;
  height: 30px;
  font-size: 16px;
}

.errors {
  color: #ff0000;
  height: 20px;
  font-size: 14px;
}

.textareas {
  margin-top: 3px;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  background-color: rgba(12, 12, 12, 0.5);
  border: none;
  border-radius: 5px;
  color: $orange;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  transition: box-shadow 0.2s ease;

  &:focus {
    box-shadow: 0 0 5px $orange;
  }
}

.button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: #0c0c0c;
  color: #fb9118;
  border-radius: 5px;
  border: #fb9118 1px solid;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translate(0, 1px);
    background-color: #000000;
    color: #dd831c;
  }
}
