$orange: rgb(251, 145, 24);
.root {
  margin: auto;
  margin-top: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-width: 1150px;
  min-height: 250px;
  height: fit-content;
  background-color: #161616;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: column;
}
.name {
  color: $orange;
  display: flex;
  justify-content: space-between;
  user-select: none;
  span {
    color: $orange;
  }
}
.links {
  display: flex;
  flex-direction: column;
}
.link {
  margin: 3px 0;
  font-size: 14px;
  color: #8a8a8d;
  &:hover {
    cursor: pointer;
    color: #fb9118;
  }
}
.collapse {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: height 200ms ease-in-out;
}
@media (max-width: 1150px) {
  .root {
    border-radius: 0;
    padding-bottom: 60px;
    // margin-bottom: 60px;
  }
}
@media (max-width: 740px) {
  .container {
    flex-direction: column;
  }
  .name {
    width: 100%;
    border-bottom: 1px solid rgba(251, 145, 24, 0.4);
  }
}
