.header-information {
  // margin-top: 70px;
  background-color: #161616;
  // border-bottom: solid #222222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  padding: 5px 10px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .company-name {
    h2 {
      font-family: 'Rubik Dirt';
      color: $orange;
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      color: #8a8a8d;
    }
  }

  .standart {
    div {
      display: flex;
      justify-content: end;
      padding: 2px 0;
    }

    &__social {
      align-items: center;
      p {
        font-family: 'Rubik Dirt';
        font-size: 22px;
        color: $orange;
      }
    }

    &__icon {
      margin-left: 20px;
      display: inline;
      align-items: center;
      color: $orange;
      p {
        font-size: 16px;
        margin-left: 5px;
        color: #8a8a8d;
      }
      span {
        color: #8a8a8d;
        font-weight: 500;
      }
    }

    .social-icon {
      margin-left: 10px;
      a {
        font-size: 22px;
        color: $orange;
      }
    }
  }
  .schedule {
    font-size: 13px;
    color: $orange;
  }
}
@media (max-width: 1150px) {
  .header-information {
    margin-bottom: 3px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 5px;
  }
}

@media (max-width: 740px) {
  .email {
    display: none;
  }
}
@media (max-width: 480px) {
  .header-information {
    flex-direction: column;
    .standart {
      .standart__icon {
        margin: 0;
      }
      div {
        display: flex;
        justify-content: center;
        .tel {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .company-name {
    h1 {
      font-size: 22px;
      display: flex;
      justify-content: center;
    }
    p {
      display: none;
      justify-content: center;
    }
  }
}
