@import '../variables';

.sort {
  position: relative;

  &__container {
    background-color: #0c0c0c;
    border-radius: 10px;
    padding: 20px;
  }
  &__buttons {
    display: flex;

    margin-top: 10px;

    div {
      &:first-child {
        color: #0c0c0c;
        background-color: #fa9017;
        &:hover {
          cursor: pointer;
          background-color: darken(#fa9017, 10%);
        }
      }

      text-align: center;
      padding: 10px;
      width: 100%;
      border-radius: 5px;

      user-select: none;
      transition: all 0.2s ease-in-out;
    }
  }
}

@media (max-width: 950px) {
  .sort {
    width: 100%;
    height: 100%;
    &__container {
      width: 100%;
      height: fit-content;
      background-color: transparent;
      border-radius: 0;
      padding: 0 10px 60px;
    }
    &__buttons {
      display: none;
    }
  }
}
