$orange: rgb(251, 145, 24);

.items {
  // padding: 0 7px 10px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;

  width: 49.8%;
  height: 150px;
  border-radius: 10px;
  background-color: #161616;
  margin-bottom: 3px;
}
.ccontent {
  text-align: center;
  margin: auto;
  padding: 0 10px;
}
.icontent {
  margin-left: 20px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 3px;
}
.image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid $orange;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: $orange;
}
.description {
  font-size: 14px;
  color: #8a8a8d;
  text-align: center;
}

.block {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  width: 100%;

  background-color: #161616;
}
.left {
  padding: 20px;
  position: relative;
  margin: auto;
  p {
    color: $orange;
    font-size: 36px;
  }
}

.gif {
  height: 300px;
}

.button {
  width: fit-content;
  border: none;

  padding: 8px 16px;
  border: 1px solid $orange;
  background-color: #0c0c0c;
  border-radius: 5px;
  margin-top: 15px;
  transition: all 0.3s ease;
  a {
    transition: all 0.3s ease;
    font-size: 16px;
    color: $orange;
  }

  &:hover {
    cursor: pointer;
    color: #0c0c0c;
    background: $orange;

    a {
      color: #0c0c0c;
    }
  }
}
