.root {
  position: relative;
}

.input {
  background-color: #0c0c0c;
  box-shadow: 2px 2px 2px black;
  border: none;
  padding: 12px 20px;
  padding-left: 42px;
  width: 300px;
  height: 46px;
  border-radius: 5px;

  color: rgb(251, 145, 24);
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 5px rgb(251, 145, 24);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  color: rgb(251, 145, 24);
  left: 12px;
  top: 11px;

  &:hover {
    cursor: pointer;
  }
}
